<h2>About this application</h2 >

<p>This was written during my time at Code Chrysalis - a full time full stack bootcamp in Tokyo.</p>
<p>The aim was to provide a way to track spending within my household based on categories, stores, and dates</p>
