
<div class="h-100 p-5 bg-light border rounded-3">
  <h4>
    <%= "#{@transaction.user.name}\nspent ¥#{@transaction.amount}\nat #{@transaction.store.name} - #{@transaction.store.location}\non #{@transaction.created_at.strftime('%Y/%m/%d')}"%>
  </h4>

  <%= link_to 'Edit', edit_transaction_path(@transaction), class:"btn btn-outline-secondary" %> |
  <%= link_to 'Back', transactions_path, class:"btn btn-outline-secondary" %>
</div>